
/* Paleta personalizada */
body {
      background-color: #111; /* preto suave */
      color: #f5f5f5;
    }
    .navbar {
      background-color: #000 !important;
    }
    .navbar-brand, .nav-link {
      color: #FFD700 !important; /* dourado */
    }
    .btn-primary {
      background-color: #FFD700;
      border: none;
      color: #000;
      font-weight: bold;
    }
    .btn-primary:hover {
      background-color: #e6c200;
      color: #000;
    }
    h2, h1 {
      color: #FFD700;
    }
    footer {
      background-color: #000;
      color: #FFD700;
    }
    .card {
      border: 1px solid #FFD700;
    }
    .card-title {
      color: #FFD700;
    }
    .carousel-item p {
      font-size: 1.2rem;
      color: #FFD700;
    }
    .carousel-item small {
      color: #f5f5f5;
    }